@tailwind base;
@tailwind components;
@tailwind utilities;
 


@layer base {
  :root {
    --background: 40 100% 99%;
    --foreground: 235 42% 26%;
    --card: 40 100% 99%;
    --card-foreground: 235 42% 26%;
    --popover: 40 100% 99%;
    --popover-foreground: 235 42% 26%;
    --primary: 353 72% 54%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 42% 26%;
    --input: 235 42% 26%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 235 42% 26%;
    --foreground: 40 100% 99%;
    --card: 24 9.8% 10%;
    --card-foreground: 40 100% 99%;
    --popover: 0 0% 9%;
    --popover-foreground: 40 100% 99%;
    --primary: 353 72% 54%;
    --primary-foreground: 40 100% 99%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 40 100% 99%;
    --input: 40 100% 99%;
    --ring: 142.4 71.8% 29.2%;
  }
}


 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  @apply xl:text-6xl text-4xl xl:text-[72px] xl:leading-[80px] tracking-[-2px] font-bold mb-6;
}

.badge {
  @apply z-10 h-[68px] xl:p-4 p-1 rounded-[10px] flex items-center xl:gap-x-4 gap-x-2 w-fit xl:w-[200px] bg-white dark:backdrop-blur-[44px] shadow-2xl hidden xl:flex;
}

.section-title 
{
  @apply text-center text-4xl font-bold relative mx-auto flex items-center justify-center gap-x-3;
}

.section-title>span
{
  @apply xl:text-8xl text-6xl font-bold absolute w-max text-center left-auto opacity-10;
}